* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.barra-navegacion ul {
    list-style: none; 
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra-navegacion li {
    margin: 0 15px;
}

.barra-navegacion a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: block;
}

.barra-navegacion a:hover {
    color: blue;
}
